[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "engine/external/stb"]
	path = engine/external/stb
	url = https://github.com/nothings/stb.git
